<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
    {{include "base/head.html"}}
    <title>{{i18n .Lang "docs"}} - xorm: {{i18n .Lang "app_intro"}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/prettify.css" />
    <link rel="stylesheet" href="/css/select2.css" />

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/css/main.css">
    </head>
    <body id="front">
<div id="wrapper">
{{include "base/navbar.html"}}
<div id="main">
<div class="container main-container">
    <iframe frameBorder=0 marginwidth=0 marginheight=0 src="http://lunny.gitbooks.io/xorm-manual-{{.Lang}}/content/" style="width:100%;height:1500px;"></iframe>
            {{include "base/disqus.html"}}
        </div>
    </div>
</div>
</div>
{{include "base/footer.html"}}
</body>
</html>