<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
    {{include "base/head.html"}}
    <title>{{i18n .Lang "homepage"}} - xorm: {{i18n .Lang "app_intro"}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/prettify.css" />
    <link rel="stylesheet" href="/css/select2.css" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
<div class="main-header">
{{include "base/navbar.html"}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    XORM - eXtra ORM for Go
                </div>
                <div class="desc">
                    {{i18n .Lang "home.gogs_desc"}}
                </div>
                <div class="actions">
                    <a href="/docs/" class="btn btn-lg btn-primary">{{i18n .Lang "learn more"}}</a>&nbsp; &nbsp; 
                    <a href="https://github.com/go-xorm/xorm/issues?state=open" class="btn btn-lg btn-success">{{i18n .Lang "try_now"}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row home-box">
        <div class="col-md-8">
            <h2>{{i18n .Lang "home.quick_start"}}</h2>
            <div class="row">
                <div class="col-md-5">
                    <div class="markdown">
                        {{if eq .Lang "zh-CN"}}
                            <p>库安装</p>
                            <p><code>go get github.com/go-xorm/xorm</code></p>
                            <p>Xorm工具</p>
                            <p><code>go get github.com/go-xorm/cmd/xorm</code></p>
                            <p>源码文档</p>
                            <p><a href="http://gowalker.org/github.com/go-xorm/xorm" target="_blank">gowalker.org/github.com/go-xorm/xorm</a></p>
                            <p><a href="http://godoc.org/github.com/go-xorm/xorm" target="_blank">godoc.org/github.com/go-xorm/xorm</a></p>
                        {{else}}
                            <p>Library Installation</p>
                            <p><code>go get github.com/go-xorm/xorm</code></p>
                            <p>Xorm Tools Installation</p>
                            <p><code>go get github.com/go-xorm/cmd/xorm</code></p>
                            <p>Source Document</p>
                            <p><a href="http://gowalker.org/github.com/go-xorm/xorm" target="_blank">gowalker.org/github.com/go-xorm/xorm</a></p>
                            <p><a href="http://godoc.org/github.com/go-xorm/xorm" target="_blank">godoc.org/github.com/go-xorm/xorm</a></p>
                        {{end}}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="markdown">
                        {{if eq .Lang "zh-CN"}}
                            <p>运行及初始化：</p>
                            <ol>
                                <li>初始化 <code>orm, err := xorm.NewEngine("sqlite3", "./test.db")</code></li>
                                <li>同步数据库结构 <code>err = orm.Sync(new(User), new(Article))</code></li>
                            </ol>
                            <p>恭喜！您已经成功地运行了 Xorm。</p>
                            <p>请阅读 <a href="/docs/intro/">使用手册</a> 以获取更多信息。</p>
                        {{else}}
                            <p>Run and setup:</p>
                            <ol>
                                <li>Init orm <code>orm, err := xorm.NewEngine("sqlite3", "./test.db")</code></li>
                                <li>Sync database structs <code>err = orm.Sync(new(User), new(Article))</code></li>
                            </ol>
                            <p>Congratulations! You just get your Xorm running.</p>
                            <p>Please see <a href="/docs/intro/">Documentation</a> for going further.</p>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-box">
                <h2>{{i18n .Lang "home.further_reading"}}</h2>
                <div class="well markdown">
                    <ul class="list-unstyled">
                            <li><i class="icon-angle-right"></i>&nbsp;Mysql: <a href="http://github.com/go-sql-driver/mysql">github.com/go-sql-driver/mysql</a></li>

                            <li><i class="icon-angle-right"></i>&nbsp;MyMysql: <a href="http://github.com/ziutek/mymysql/godrv">github.com/ziutek/mymysql/godrv</a></li>

                             <li><i class="icon-angle-right"></i>&nbsp;Postgres: <a href="http://github.com/lib/pq">github.com/lib/pq</a></li>

                              <li><i class="icon-angle-right"></i>&nbsp;Tidb: <a href="http://github.com/pingcap/tidb">github.com/pingcap/tidb</a></li>

                            <li><i class="icon-angle-right"></i>&nbsp;SQLite: <a href="http://github.com/mattn/go-sqlite3">github.com/mattn/go-sqlite3</a></li>

                            <li><i class="icon-angle-right"></i>&nbsp;MsSql:<a href="http://github.com/denisenkom/go-mssqldb"> github.com/denisenkom/go-mssqldb</a></li>

                            <li><i class="icon-angle-right"></i>&nbsp;MsSql: <a href="http://github.com/lunny/godbc">github.com/lunny/godbc</a></li>

                            <li><i class="icon-angle-right"></i>&nbsp;Oracle: <a href="http://github.com/lunny/godbc">github.com/mattn/go-oci8</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row home-box">
        <div class="col-md-12">
            <h2>{{i18n .Lang "home.features"}}</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                少依赖
                            {{else}}
                                LESS DEPENDENCY
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                xorm除了依赖github.com/go-xorm/core之外不依赖其它第三方库。
                            {{else}}
                                Only depends github.com/go-xorm/core.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                易使用
                            {{else}}
                                EASY USAGE
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                通过连写操作，可以通过很少的语句完成数据库操作。
                            {{else}}
                                By join function design, use less codes to finish DB operations.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                功能全
                            {{else}}
                                RICH FUNCTIONS
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                支持缓存，事务，乐观锁，多种数据库支持，反转等等特性。
                            {{else}}
                                Support cache, transaction, Optimistic Lock, Multiple Database support, Reverse and tect.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                开源化
                            {{else}}
                                OPEN SOURCE
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                通过加入我们来参与、分享和学习，并成为一个贡献者。
                            {{else}}
                                Join, share and learn by involving this great project and be a contributor.
                            {{end}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row home-box">
        <div class="col-md-8">
            <h2>{{i18n .Lang "home.who_are_use"}}</h2>
            <div class="whouse">
                <a target="_blank" href="http://gogs.io/"><img class="img-thumbnail" src="/img/brands/gogs.png"/></a>
                <a target="_blank" href="http://sudochina.com/"><img class="img-thumbnail" src="/img/brands/sudochina.jpg"/></a>
                <a target="_blank" href="http://gorevel.cn/"><img class="img-thumbnail" src="/img/brands/revelhat.png"/></a>
                <a target="_blank" href="http://www.6574.com.cn/"><img class="img-thumbnail" src="/img/brands/gocms.png"/></a>
                <a target="_blank" href="http://yougam.com/"><img class="img-thumbnail" src="/img/brands/yougam.png"/></a>
                <a target="_blank" href="http://docker.cn/"><img class="img-thumbnail" src="/img/brands/dockercn.png"/></a>
                <a target="_blank" href="http://www.yunduo.com/"><img class="img-thumbnail" src="/img/brands/yunduo.png"/></a>
            </div>
        </div>

        <div class="col-md-4">
            <h2>{{i18n .Lang "home.friends"}}</h2>
            <div class="whouse">
            <a target="_blank" href="http://www.golangtc.com/"><img class="img-thumbnail" src="/img/brands/golang-china.png"/></a>
            <a target="_blank" href="http://www.golanghome.com/"><img class="img-thumbnail" src="/img/brands/golanghome.png"/></a>
            <a target="_blank" href="http://godaily.org/">Go Daily</a>
            </div>
        </div>
    </div>
</div>
{{include "base/footer.html"}}
</body>
</html>
